openapi: 3.0.0
info:
  title: Contacts
  description: The list of contacts created.
  contact: {}
  version: 1.0.0
servers:
  - url: https://www.zohoapis.com/books/v3
    description: API Endpoint
tags:
  - name: contacts
    description: Contacts Module
paths:
  /contacts:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: create_contact
      summary: Create a Contact
      description: Create a new contact with comprehensive business information. This operation allows you to create a customer or vendor by providing details such as contact name, company information, addresses, contact persons, payment terms, tax settings, and custom fields. The created contact can be used for generating invoices, bills, estimates, and other business transactions. The system automatically assigns a unique contact ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-contact-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    get:
      tags:
        - contacts
      operationId: list_contacts
      summary: List Contacts
      description: Retrieve a comprehensive list of all contacts with advanced filters. This operation supports multiple search criteria including contact name, company name, address, email, phone, and general text search. You can filter contacts by status (active, inactive, duplicate, CRM) and sort by various fields. The response includes essential contact information, financial data including outstanding amounts and credit limits, and pagination details for efficient data retrieval.
      parameters:
        - name: contact_type
          in: query
          description: 'Search contacts by contact type. Allowed Values: <code>customer</code>, <code>vendor</code>.'
          required: false
          schema:
            type: string
          example: customer
        - name: contact_name
          in: query
          description: 'Search contacts by contact name. Max-length [100] Variants: <code>contact_name_startswith</code> and <code>contact_name_contains</code>. Max-length [100]'
          required: false
          schema:
            type: string
          example: Bowman and Co
        - name: company_name
          in: query
          description: 'Search contacts by company name. Max-length [100] Variants: <code>company_name_startswith</code> and <code>company_name_contains</code>'
          required: false
          schema:
            type: string
          example: Bowman and Co
        - name: first_name
          in: query
          description: 'Search contacts by first name of the primary contact person. Max-length [100] Variants: <code>first_name_startswith</code> and <code>first_name_contains</code>'
          required: false
          schema:
            type: string
          example: Will
        - name: last_name
          in: query
          description: 'Search contacts by last name of the primary contact person. Max-length [100] Variants: <code>last_name_startswith</code> and <code>last_name_contains</code>'
          required: false
          schema:
            type: string
          example: Smith
        - name: address
          in: query
          description: 'Search contacts by any of the address fields. Max-length [100] Variants: <code>address_startswith</code> and <code>address_contains</code>'
          required: false
          schema:
            type: string
          example: 4900 Hopyard Rd
        - name: email
          in: query
          description: 'Search contacts by email of the primary contact person. Max-length [100] Variants: <code>email_startswith</code> and <code>email_contains</code>'
          required: false
          schema:
            type: string
          example: willsmith@bowmanfurniture.com
        - name: phone
          in: query
          description: 'Search contacts by phone number of the primary contact person. Max-length [100] Variants: <code>phone_startswith</code> and <code>phone_contains</code>'
          required: false
          schema:
            type: string
          example: +1-925-921-9201
        - name: filter_by
          in: query
          description: 'Filter contacts by status. Allowed Values: <code>Status.All, Status.Active, Status.Inactive, Status.Duplicate, Status.PortalEnabled, Status.PortalDisabled, Invoice.OverDue, Invoice.Unpaid, Status.CreditLimitExceed and Status.Crm</code>'
          required: false
          schema:
            type: string
          example: ''
        - name: search_text
          in: query
          description: Search contacts by contact name or notes. Max-length [100]
          required: false
          schema:
            type: string
          example: ''
        - name: sort_column
          in: query
          description: 'Sort contacts. Allowed Values: <code>contact_name, first_name, last_name, email, outstanding_receivable_amount, created_time and last_modified_time</code>'
          required: false
          schema:
            type: string
          example: contact_name
        - name: zcrm_contact_id
          in: query
          description: 'CRM Contact ID for the contact. Note: This value is a set of numeric characters.'
          required: false
          schema:
            type: string
          example: 460000000026049
        - name: zcrm_account_id
          in: query
          description: 'CRM Account ID for the contact. Note: This value is a set of numeric characters.'
          required: false
          schema:
            type: string
          example: 460000000026049
        - name: zcrm_vendor_id
          in: query
          description: 'CRM Vendor ID for the contact. Note: This value is a set of numeric characters.'
          required: false
          schema:
            type: string
          example: 460000000026049
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contacts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    put:
      tags:
        - contacts
      operationId: update_contact_using_custom_field
      summary: Update a contact using a custom field's unique value
      description: A custom field will have unique values if it's configured to not accept duplicate values. Now, you can use that custom field's value to update a contact by providing its API name in the X-Unique-Identifier-Key header and its value in the X-Unique-Identifier-Value header. Based on this value, the corresponding contact will be retrieved and updated. Additionally, there is an optional X-Upsert header. If the X-Upsert header is true and the custom field's unique value is not found in any of the existing contacts, a new contact will be created if the necessary payload details are available
      parameters:
        - name: X-Unique-Identifier-Key
          in: header
          description: Unique CustomField Api Name
          required: true
          schema:
            type: string
            example: cf_unique_cf
        - name: X-Unique-Identifier-Value
          in: header
          description: Unique CustomField Value
          required: true
          schema:
            type: string
            example: unique Value
        - name: X-Upsert
          in: header
          description: If there is no record is found unique custom field value , will create new invoice
          required: false
          schema:
            type: boolean
            example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-contact-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contacts
      summary: Delete contacts
      description: Delete one or more contacts.
      parameters:
        - name: contact_ids
          in: query
          required: true
          description: 'Comma-separated IDs of the contacts to delete. Note: This value is a set of numeric characters separated by comma.'
          schema:
            type: string
          example: 460000000026049,460000000026055
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contacts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/owner:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: assign_contact_owner
      summary: Assign an Owner to a Contact
      description: Assign a user as the owner of a specific contact. Use this when a contact must be associated with a particular user for ownership and access purposes.
      parameters:
        - name: contact_id
          in: path
          required: true
          description: ID of the contact.
          schema:
            type: string
          example: 460000000026049
        - name: owner_id
          in: query
          required: false
          description: ID of the user to assign as the contact owner.
          schema:
            type: string
          example: 460000000031043
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-owner-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/owner:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: assign_owner_to_contacts
      summary: Assign an Owner to Multiple Contacts
      description: Assign a user as the owner of multiple contacts in a single request. Use this to bulk-assign ownership for a set of contacts.
      parameters:
        - name: contact_ids
          in: query
          required: true
          description: Comma-separated IDs of the contacts to assign the owner to. Maximum of 200 contacts per request.
          schema:
            type: string
          example: 460000000026049,460000000026051
        - name: owner_id
          in: query
          required: false
          description: ID of the user to assign as the contact owner.
          schema:
            type: string
          example: 460000000031043
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-owner-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/track1099:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: mark_contacts_for_1099_tracking
      summary: Mark Multiple Contacts for 1099 Tracking
      description: Enable 1099 tracking for multiple contacts in a single request. Applicable to organizations in the United States edition that report vendor payments for 1099 purposes.
      parameters:
        - name: contact_ids
          in: query
          required: false
          description: Comma-separated IDs of the contacts to mark for 1099 tracking. Maximum of 200 contacts per request.
          schema:
            type: string
          example: 460000000026049,460000000026051
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-1099-tracking-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/bankaccount/{bank_account_id}/verify:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: verify_contact_bank_account
      summary: Verify a Contact Bank Account
      description: Verify a contact bank account using the two micro-deposit amounts credited to the account. Provide the deposit amounts to confirm ownership of the bank account.
      parameters:
        - name: contact_id
          in: path
          required: true
          description: ID of the contact.
          schema:
            type: string
          example: 460000000026049
        - name: bank_account_id
          in: path
          required: true
          description: ID of the contact bank account to verify.
          schema:
            type: string
          example: 460000000031055
        - name: first_deposit_amount
          in: query
          required: false
          description: First micro-deposit amount credited to the bank account.
          schema:
            type: integer
          example: 12
        - name: second_deposit_amount
          in: query
          required: false
          description: Second micro-deposit amount credited to the bank account.
          schema:
            type: integer
          example: 34
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/address/verify:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: verify_contact_address
      summary: Verify a Contact Address
      description: Validate a contact address against the provided address fields. Use this before creating or updating a contact to confirm that the address is valid.
      parameters:
        - name: line1
          in: query
          required: true
          description: First line of the address. Max-length [60].
          schema:
            type: string
          example: 7 Hales Court
        - name: city
          in: query
          required: false
          description: City of the address. Max-length [50].
          schema:
            type: string
          example: New York
        - name: region
          in: query
          required: false
          description: State or region of the address. Max-length [50].
          schema:
            type: string
          example: NY
        - name: country
          in: query
          required: false
          description: Country of the address. Max-length [50].
          schema:
            type: string
          example: U.S.A
        - name: postal_code
          in: query
          required: false
          description: Postal code of the address. Max-length [30].
          schema:
            type: string
          example: '10004'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify-address-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/card/{card_id}/recurringinvoices:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_autobill_recurring_invoices
      summary: List Auto-bill Recurring Invoices for a Contact Card
      description: Retrieve the recurring invoices set to be auto-billed against a specific card of a contact. Use this to review which recurring invoices are linked to a contact card for automatic payment.
      parameters:
        - name: contact_id
          in: path
          required: true
          description: ID of the contact.
          schema:
            type: string
          example: 460000000026049
        - name: card_id
          in: path
          required: true
          description: ID of the contact card.
          schema:
            type: string
          example: 460000000031067
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-autobill-recurring-invoices-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /customers:
    x-mcp-group:
      - Customers
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /vendors:
    x-mcp-group:
      - Customers
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}:
    x-mcp-group:
      - Contacts
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
    put:
      tags:
        - contacts
      operationId: update_contact
      summary: Update a Contact
      description: Update an existing contact with comprehensive business information. This operation allows you to modify all contact details including basic information, addresses, contact persons, payment terms, tax settings, and custom fields. For contact person, you can add new contact persons, update existing ones, or remove them by excluding them from the contact_persons list.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-contact-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    get:
      tags:
        - contacts
      operationId: get_contact
      summary: Get Contact
      description: Retrieve comprehensive details of a specific contact. This operation provides complete contact details such as basic information, addresses, contact persons, payment terms, tax settings, custom fields, and financial data including outstanding amounts, credit limits, and transaction history.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    delete:
      tags:
        - contacts
      operationId: delete_contact
      summary: Delete a Contact
      description: Delete an existing contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
  /contacts/{contact_id}/active:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: mark_contact_active
      summary: Mark as Active
      description: Mark a contact as active.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-active-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/inactive:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: mark_contact_inactive
      summary: Mark as Inactive
      description: Mark a contact as inactive.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-inactive-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/portal/enable:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: enable_contact_portal
      summary: Enable Portal Access
      description: Enable portal access for a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enable-portal-access-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enable-portal-access-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/paymentreminder/enable:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: enable_contact_payment_reminder
      summary: Enable Payment Reminders
      description: Enable automated payment reminders for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enable-payment-reminders-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/paymentreminder/disable:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: disable_contact_payment_reminder
      summary: Disable Payment Reminders
      description: Disable automated payment reminders for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disable-payment-reminders-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/statements/email:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: email_contact_statement
      summary: Email Statement
      description: Email statement to the contact. If JSONString is not inputted, mail will be sent with the default mail content.
      parameters:
        - name: start_date
          in: query
          description: If start_date and end_date are not given, current month's statement will be sent to contact. Date format [yyyy-mm-dd]
          required: false
          schema:
            type: string
          example: ''
        - name: end_date
          in: query
          description: End date for the statement. Date format [yyyy-mm-dd]
          required: false
          schema:
            type: string
          example: ''
        - name: multipart_or_formdata
          in: query
          description: Files to be attached along with the statement.
          required: false
          schema:
            type: string
          example: file
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-statement-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-statement-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    get:
      tags:
        - contacts
      operationId: get_contact_statement_mail
      summary: Get Statement Mail Content
      description: Get the statement mail content.
      parameters:
        - name: start_date
          in: query
          description: If start_date and end_date are not given, current month's statement will be sent to contact. Date format [yyyy-mm-dd]
          required: false
          schema:
            type: string
          example: ''
        - name: end_date
          in: query
          description: End date for the statement. Date format [yyyy-mm-dd]
          required: false
          schema:
            type: string
          example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-statement-mail-content-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/email:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_email_content
      summary: Get contact email content
      description: Retrieve the default email content used when emailing a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-email-content-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: email_contact
      summary: Email Contact
      description: Send email to contact.
      parameters:
        - name: send_customer_statement
          in: query
          description: Send customer statement pdf with email.
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-contact-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/comments:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_comments
      summary: List Comments
      description: List recent activities of a contact.
      parameters:
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-comments-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: add_contact_comment
      summary: Add a comment to a contact
      description: Add a comment to a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-comment-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-contact-comment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_address
      summary: Get Contact Addresses
      description: Get addresses of a contact including its Shipping Address, Billing Address and other additional addresses.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-addresses-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: add_contact_address
      summary: Add Additional Address
      description: Add an additional address for a contact using the arguments below.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-additional-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-additional-address-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address/{address_id}:
    x-mcp-group:
      - Contacts
    put:
      tags:
        - contacts
      operationId: update_contact_address
      summary: Edit Additional Address
      description: Edit the additional address of a contact using the arguments below.
      parameters:
        - name: address_id
          in: path
          required: true
          description: 'Unique identifier of the address. Note: This value is a set of numeric characters.'
          schema:
            type: string
          example: 1053791000000186000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edit-additional-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edit-additional-address-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contact_address
      summary: Delete Additional Address
      description: Delete the additional address of a contact.
      parameters:
        - name: address_id
          in: path
          required: true
          description: 'Unique identifier of the address. Note: This value is a set of numeric characters.'
          schema:
            type: string
          example: 1053791000000186000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-additional-address-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/refunds:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_credit_note_refunds
      summary: List credit note refunds for a contact
      description: List the credit note refunds issued to a contact.
      parameters:
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-refunds-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/track1099:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: track_contact_1099
      summary: Track 1099
      description: 'Track a contact for 1099 reporting: (Note: This API is only available when the organization''s country is U.S.A).'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track-1099-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/untrack1099:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: untrack_contact_1099
      summary: Untrack 1099
      description: 'Use this API to stop tracking payments to a vendor for 1099 reporting. (Note: This API is only available when the organization''s country is U.S.A).'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/untrack-1099-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/receivables/unusedretainerpayments:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_unused_retainer_payments
      summary: Get Unused Retainer Payments
      description: Retrieve information about unused retainer payments for a specific contact. This endpoint returns details of retainer payments that have been made but not yet applied to invoices, providing insight into available credit balances from retainer payments.
      parameters:
        - name: currency_id
          in: query
          description: 'Currency ID to filter unused retainer payments by specific currency. Note: This value is a set of numeric characters.'
          required: false
          schema:
            type: string
          example: '460000000000097'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-unused-retainer-payments-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/bankaccount:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: add_contact_bank_account
      summary: Add a bank account to a contact
      description: Add a bank account for a contact to enable automatic payment collection through ACH or bank transfer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-bank-account-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-contact-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/bankaccount/{bank_account_id}:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_bank_account
      summary: Get a contact bank account
      description: Retrieve the details of a bank account associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    put:
      tags:
        - contacts
      operationId: update_contact_bank_account
      summary: Update a contact bank account
      description: Update the details of a bank account associated with a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-bank-account-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contact_bank_account
      summary: Delete a contact bank account
      description: Delete a bank account associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: bank_account_id
        in: path
        required: true
        description: 'Unique identifier of the contact bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000031001
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/bankaccount/{bank_account_id}/approve:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: approve_contact_bank_account
      summary: Approve a contact bank account
      description: Approve a bank account added for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/approve-contact-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: bank_account_id
        in: path
        required: true
        description: 'Unique identifier of the contact bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000031001
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/bankaccount/{bank_account_id}/decline:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: decline_contact_bank_account
      summary: Decline a contact bank account
      description: Decline a bank account added for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decline-contact-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: bank_account_id
        in: path
        required: true
        description: 'Unique identifier of the contact bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000031001
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/bankaccounts:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_bank_accounts
      summary: List contact bank accounts
      description: List all bank accounts associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-bank-accounts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/bankaccounts:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_all_contact_bank_accounts
      summary: List all contact bank accounts
      description: List bank accounts across all contacts in the organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-all-contact-bank-accounts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/card:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: add_contact_card
      summary: Add a card to a contact
      description: Add a credit or debit card for a contact to enable automatic payment collection.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-card-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-contact-card-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/card/{card_id}:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_card
      summary: Get a contact card
      description: Retrieve the details of a card associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-card-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    put:
      tags:
        - contacts
      operationId: update_contact_card
      summary: Update a contact card
      description: Update the details of a card associated with a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-card-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-card-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contact_card
      summary: Delete a contact card
      description: Delete a card associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-card-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: card_id
        in: path
        required: true
        description: 'Unique identifier of the contact card. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000040001
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/cards:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_cards
      summary: List contact cards
      description: List all cards associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-cards-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/cardcount:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_card_count
      summary: Get contact card count
      description: Retrieve the number of saved cards across contacts in the organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-card-count-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_all_contact_persons
      summary: List all contact persons
      description: List contact persons across all contacts in the organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-all-contact-persons-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: create_contact_person
      summary: Create a contact person
      description: Create a contact person under a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-person-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-contact-person-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contactperson_id}:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_person
      summary: Get a contact person
      description: Retrieve the details of a contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-person-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    put:
      tags:
        - contacts
      operationId: update_contact_person
      summary: Update a contact person
      description: Update the details of a contact person.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-person-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-person-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contact_person
      summary: Delete a contact person
      description: Delete a contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-person-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/contactpersons:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_persons
      summary: List contact persons of a contact
      description: List the contact persons associated with a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-persons-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/contactpersons/{contactperson_id}:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_contact_person
      summary: Get a contact person of a contact
      description: Retrieve a specific contact person of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-contact-person-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contactperson_id}/primary:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: mark_contact_person_primary
      summary: Mark a contact person as primary
      description: Set a contact person as the primary contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-contact-person-primary-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contactperson_id}/portal/invite:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: invite_contact_person_to_portal
      summary: Invite a contact person to the portal
      description: Send a client portal invitation to a contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invite-contact-person-to-portal-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contactperson_id}/portal/invite/resend:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: resend_contact_person_portal_invite
      summary: Resend a portal invite
      description: Resend the client portal invitation to a contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resend-contact-person-portal-invite-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contactperson_id}/sms/enable:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: enable_contact_person_sms
      summary: Enable SMS for a contact person
      description: Enable SMS notifications for a contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enable-contact-person-sms-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contactperson_id}/sms/disable:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: disable_contact_person_sms
      summary: Disable SMS for a contact person
      description: Disable SMS notifications for a contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disable-contact-person-sms-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contactperson_id
        in: path
        required: true
        description: 'Unique identifier of the contact person. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026051
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/comments/{comment_id}:
    x-mcp-group:
      - Contacts
    delete:
      tags:
        - contacts
      operationId: delete_contact_comment
      summary: Delete a contact comment
      description: Delete a comment added to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-comment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: comment_id
        in: path
        required: true
        description: 'Unique identifier of the comment. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000080001
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/documents/{document_id}:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_document
      summary: Get a contact document
      description: Retrieve a document attached to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-document-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    put:
      tags:
        - contacts
      operationId: update_contact_document
      summary: Update a contact document
      description: Update a document attached to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-document-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contact_document
      summary: Delete a contact document
      description: Delete a document attached to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-document-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: document_id
        in: path
        required: true
        description: 'Unique identifier of the document. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000123001
      - $ref: '#/components/parameters/organization_id'
  /contacts/documents/restore:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: restore_contact_documents
      summary: Restore contact documents
      description: Restore previously deleted contact documents.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restore-contact-documents-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/tags:
    x-mcp-group:
      - Contacts
    put:
      tags:
        - contacts
      operationId: update_contact_tags
      summary: Update contact tags
      description: Update the reporting tags associated with a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-tags-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-tags-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/tags/{tag_id}:
    x-mcp-group:
      - Contacts
    delete:
      tags:
        - contacts
      operationId: delete_contact_tag
      summary: Delete a contact tag
      description: Remove a reporting tag from a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-tag-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: tag_id
        in: path
        required: true
        description: 'Unique identifier of the reporting tag. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000060001
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/taxinfo:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_tax_info
      summary: List contact tax information
      description: List the tax information records of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-tax-info-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: add_contact_tax_info
      summary: Add contact tax information
      description: Add a tax information record to a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-tax-info-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-contact-tax-info-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/taxinfo/{tax_info_id}:
    x-mcp-group:
      - Contacts
    put:
      tags:
        - contacts
      operationId: update_contact_tax_info
      summary: Update contact tax information
      description: Update a tax information record of a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-tax-info-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-tax-info-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.UPDATE
    delete:
      tags:
        - contacts
      operationId: delete_contact_tax_info
      summary: Delete contact tax information
      description: Delete a tax information record of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-contact-tax-info-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.DELETE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: tax_info_id
        in: path
        required: true
        description: 'Unique identifier of the tax information. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000070001
      - $ref: '#/components/parameters/organization_id'
  /contacts/address:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_addresses
      summary: List contact addresses
      description: List addresses across contacts in the organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-addresses-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address/{address_id}/markasbilling:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: mark_contact_address_as_billing
      summary: Mark an address as billing
      description: Set a contact address as the billing address.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-contact-address-as-billing-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: address_id
        in: path
        required: true
        description: 'Unique identifier of the address. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000031043
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address/{address_id}/markasshipping:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: mark_contact_address_as_shipping
      summary: Mark an address as shipping
      description: Set a contact address as the shipping address.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-contact-address-as-shipping-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: address_id
        in: path
        required: true
        description: 'Unique identifier of the address. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000031043
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address/{address_id}/verify:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: verify_contact_address_by_id
      summary: Verify a contact address
      description: Verify a specific address of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify-contact-address-by-id-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - name: address_id
        in: path
        required: true
        description: 'Unique identifier of the address. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000031043
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/attachment:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: add_contact_attachment
      summary: Add an attachment to a contact
      description: Attach a file to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-contact-attachment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/merge:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: merge_contact
      summary: Merge contacts
      description: Merge a duplicate contact into another contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merge-contact-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/einvoice/verify:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: verify_contact_einvoice
      summary: Verify contact e-invoice details
      description: Verify the e-invoice (GST) details of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify-contact-einvoice-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/portal/disable:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: disable_contact_portal
      summary: Disable the contact portal
      description: Disable client portal access for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disable-contact-portal-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/sms:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contacts_sms_content
      summary: Get bulk contact SMS content
      description: Retrieve the SMS content used when notifying multiple contacts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contacts-sms-content-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: send_contacts_sms
      summary: Send SMS to contacts
      description: Send an SMS notification to multiple contacts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-contacts-sms-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/sms:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_sms_content
      summary: Get contact SMS content
      description: Retrieve the SMS content used when notifying a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-sms-content-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: send_contact_sms
      summary: Send SMS to a contact
      description: Send an SMS notification to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-contact-sms-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/reference/{reference_id}:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_by_reference
      summary: Get a contact by reference
      description: Retrieve a contact using its reference ID from an external system.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-by-reference-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: reference_id
        in: path
        required: true
        description: 'Reference identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/statements:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_statement
      summary: Get a contact statement
      description: Retrieve the account statement of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-statement-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/unpaidinvoices:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_unpaid_invoices
      summary: List unpaid invoices of a contact
      description: List the unpaid invoices of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-unpaid-invoices-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/receivables/unusedcredits:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_unused_credits
      summary: Get unused credits of a contact
      description: Retrieve the unused customer credits available for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-unused-credits-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/paymentrefunds:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: list_contact_payment_refunds
      summary: List payment refunds of a contact
      description: List the payment refunds issued to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-payment-refunds-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/incomeandexpense:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_income_and_expense
      summary: Get contact income and expense
      description: Retrieve the income and expense summary of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-income-and-expense-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/profitandloss:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_profit_and_loss
      summary: Get contact profit and loss
      description: Retrieve the profit and loss summary of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-profit-and-loss-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/inventorysummary:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_inventory_summary
      summary: Get contact inventory summary
      description: Retrieve the inventory summary for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-inventory-summary-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/openingbalances:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_opening_balances
      summary: Get contact opening balances
      description: Retrieve the opening balances of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-opening-balances-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.settings.READ
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/trnstatus:
    x-mcp-group:
      - Contacts
    post:
      tags:
        - contacts
      operationId: update_contact_trn_status
      summary: Update contact TRN status
      description: Update the tax registration number (TRN) verification status of a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-contact-trn-status-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.settings.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/clientreviews/email:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_client_review_email
      summary: Get client review email content
      description: Retrieve the email content for a contact client review.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-client-review-email-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: send_contact_client_review_email
      summary: Send a client review email
      description: Send the client review email to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-contact-client-review-email-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/paymentmethod/email:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_payment_method_email
      summary: Get payment method email content
      description: Retrieve the email content requesting a payment method from a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-payment-method-email-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: send_contact_payment_method_email
      summary: Send a payment method request email
      description: Send an email requesting a payment method from a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-contact-payment-method-email-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/vendorstatements/email:
    x-mcp-group:
      - Contacts
    get:
      tags:
        - contacts
      operationId: get_contact_vendor_statement_email
      summary: Get vendor statement email content
      description: Retrieve the email content for a vendor statement.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-vendor-statement-email-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.READ
    post:
      tags:
        - contacts
      operationId: send_contact_vendor_statement_email
      summary: Send a vendor statement email
      description: Send the vendor statement email to a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-contact-vendor-statement-email-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.contacts.CREATE
    parameters:
      - name: contact_id
        in: path
        required: true
        description: 'Unique identifier of the contact. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000026049
      - $ref: '#/components/parameters/organization_id'
components:
  parameters:
    organization_id:
      name: organization_id
      description: 'ID of the organization. Note: This value is a set of numeric characters.'
      in: query
      required: true
      schema:
        type: string
      example: '10234695'
  schemas:
    gendoc-attributes-schema:
      $ref: '#/components/schemas/contact-response'
    contact-response:
      type: object
      properties:
        contact_id:
          $ref: '#/components/schemas/contact_id'
        contact_name:
          $ref: '#/components/schemas/contact_name'
        company_name:
          $ref: '#/components/schemas/company_name'
        has_transaction:
          $ref: '#/components/schemas/has_transaction'
        contact_type:
          $ref: '#/components/schemas/contact_type'
        customer_sub_type:
          $ref: '#/components/schemas/customer_sub_type'
        credit_limit:
          $ref: '#/components/schemas/credit_limit'
        is_portal_enabled:
          $ref: '#/components/schemas/is_portal_enabled'
        language_code:
          $ref: '#/components/schemas/language_code'
        is_taxable:
          $ref: '#/components/schemas/is_taxable'
        tax_id:
          $ref: '#/components/schemas/tax_id'
        tds_tax_id:
          $ref: '#/components/schemas/tds_tax_id'
        tax_name:
          $ref: '#/components/schemas/tax_name'
        tax_percentage:
          $ref: '#/components/schemas/tax_percentage'
        tax_authority_id:
          $ref: '#/components/schemas/tax_authority_id'
        tax_exemption_id:
          $ref: '#/components/schemas/tax_exemption_id'
        tax_authority_name:
          $ref: '#/components/schemas/tax_authority_name'
        tax_exemption_code:
          $ref: '#/components/schemas/tax_exemption_code'
        place_of_contact:
          $ref: '#/components/schemas/place_of_contact'
        gst_no:
          $ref: '#/components/schemas/gst_no'
        vat_treatment:
          $ref: '#/components/schemas/vat_treatment'
        tax_treatment:
          $ref: '#/components/schemas/tax_treatment'
        tax_exemption_certificate_number:
          $ref: '#/components/schemas/tax_exemption_certificate_number'
        tax_regime:
          $ref: '#/components/schemas/tax_regime'
        legal_name:
          $ref: '#/components/schemas/legal_name'
        is_tds_registered:
          $ref: '#/components/schemas/is_tds_registered'
        gst_treatment:
          $ref: '#/components/schemas/gst_treatment'
        is_linked_with_zohocrm:
          $ref: '#/components/schemas/is_linked_with_zohocrm'
        website:
          $ref: '#/components/schemas/website'
        owner_id:
          $ref: '#/components/schemas/owner_id'
        primary_contact_id:
          $ref: '#/components/schemas/primary_contact_id'
        pricebook_id:
          $ref: '#/components/schemas/pricebook_id'
        contact_number:
          $ref: '#/components/schemas/contact_number'
        ignore_auto_number_generation:
          $ref: '#/components/schemas/ignore_auto_number_generation'
        payment_terms:
          $ref: '#/components/schemas/payment_terms'
        payment_terms_label:
          $ref: '#/components/schemas/payment_terms_label'
        currency_id:
          $ref: '#/components/schemas/currency_id'
        currency_code:
          $ref: '#/components/schemas/currency_code'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
        opening_balances:
          $ref: '#/components/schemas/opening_balances'
        outstanding_receivable_amount:
          $ref: '#/components/schemas/outstanding_receivable_amount'
        outstanding_receivable_amount_bcy:
          $ref: '#/components/schemas/outstanding_receivable_amount_bcy'
        unused_credits_receivable_amount:
          $ref: '#/components/schemas/unused_credits_receivable_amount'
        unused_credits_receivable_amount_bcy:
          $ref: '#/components/schemas/unused_credits_receivable_amount_bcy'
        status:
          $ref: '#/components/schemas/status'
        payment_reminder_enabled:
          $ref: '#/components/schemas/payment_reminder_enabled'
        custom_fields:
          $ref: '#/components/schemas/custom_fields'
        billing_address:
          $ref: '#/components/schemas/billing_address'
        shipping_address:
          $ref: '#/components/schemas/shipping_address'
        facebook:
          $ref: '#/components/schemas/facebook'
        twitter:
          $ref: '#/components/schemas/twitter'
        contact_persons:
          type: array
          description: The list of contact persons associated with the contact.
          items:
            type: object
            properties:
              contact_person_id:
                $ref: '#/components/schemas/contact_person_id'
              salutation:
                $ref: '#/components/schemas/salutation'
[...]
